<h1> Welcome to SofterpawIntel!</h1>

This project combines :
<ul>
    <li>SofterpawInsights (google console API)</li>
    <ul>
        <li>Simple data browser</li>
        <li>AI insights maker</li>
    </ul>
    <li>SofterpawSpider (simple crawler)</li>
</ul>

<h2><a href="/softerpawinsights/" >SofterpawInsights</a></h2>

<h3>Motivation</h3>

We want to be able to pull data from our search console that is directly linked to our affiliate marketing blog.

We also want to be able to generate insights for some <i>key</i> questions.

<h4>Examples of questions we might want to consider:</h4>
<ul>
    <li>Which posts ( -> categories) drove the most impressions in the last X weeks?</li>
</ul>

<h4>More advanced:</h4>

<ul>
    <li>Which posts were the 'fastest' in terms of ranking up in Google?</li>
</ul>

<h4>And towards a web app, sort of</h4>

Afterwards, we want to build an "AI" system, capable of "choosing" and telling us:

<ul>
    <li>Which category to choose</li>
    <li>and/or what should our next article be about</li>
</ul>

We can build that as a "web app", full stack, and make it available to front end usage, input being which question to select, and output being the predicted category/cluster of keywords to write the next article about.

<h2><a href="/softerpawspider/" >SofterpawSpider</a></h2>

We would like to see our own simple web crawler that pulls keywords that we need for our content to rank, using maching learning models.
