# technical notes
AutoFeaturesReviewReader.notes

# local settings
settings/local.py
settings/base.py


# vscode
.vscode/
*.code-workspace


# venv stuff:
venv/
bin/
include/
lib/python3.6
share/python-wheels

# pycache
__pycache__/

*.swp

# idea
.idea/

# devnotes
devnotes

# client
SofterPawInsights/querying/client_secrets.json