{% load static %}
{% load extras %}
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "SofterPawInsights/style.css" %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="{% static "SofterPawInsights/script.js" %}"></script>
</head>


<h1>{{ criteria.criteria_text }}</h1>
<ul>
{% for choice in criteria.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
</html>
